/* Estilos para o elemento <footer> */
footer {
    background: black; /* Define o fundo do rodapé como preto */
    color: white; /* Define a cor do texto como branco */
    text-align: center; /* Alinha o texto ao centro */
    height: 100px; /* Define a altura do rodapé como 100 pixels */
    padding-top: 30px; /* Adiciona um espaço de preenchimento acima do conteúdo do rodapé */
}
