<main>
    <section id="banner-hero" class="container-fluid">
        <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="./assets/img/banner4.jpg" class="d-block w-100" style="height: 400px;" alt="Promoção de um jogo">
                </div>
                <div class="carousel-item">
                    <img src="./assets/img/banner2.PNG" class="d-block w-100" style="height: 400px;" alt="Promoção do mês">
                </div>
                <div class="carousel-item">
                    <img src="./assets/img/banner3.jpg" class="d-block w-100" style="height: 400px;" alt="Jogo do ano">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
        <div class="hero">
            <h1>Descubra <br> a experiência definitiva <br> de jogos conosco <br>🔥<br></h1>
            <p>Explore nossa ampla variedade de produtos e acessórios de jogos, projetados para levar seu jogo para o próximo nível.</p>
        </div>
    </section>
    <br>
    <section class="featured-products">
        <article class="product" onclick="addToCart(1)">
            <i class='bx bx-cube'></i>
            <h2>Passo 1: Crie uma Conta</h2>
            <p>Inscreva-se para ter acesso a todos os recursos.</p>
        </article>
  
        <article class="product" onclick="addToCart(2)">
            <i class='bx bx-box'></i>
            <h2>Passo 2: Navegue e Selecione</h2>
            <p>Explore nossa ampla variedade de produtos e escolha o que mais combina com você.</p>
        </article>
  
        <article class="product" onclick="addToCart(3)">
            <i class='bx bx-cart'></i>
            <h2>Passo 3: Adicione ao Carrinho</h2>
            <p>Adicione os itens selecionados ao seu carrinho de compras.</p>
        </article>
    </section>
</main>
